<div class="container">
  <div ng-controller="PostsNewCtrl">
    
    <div ng-show="showAlert" class="text-center fade">
      <div class="alert alert-success" role="alert">
        <p>Post successfully created</p>
      </div>
    </div>
    
    <h2>New Post</h2>
    <form class="form-group" ng-submit="createPost()">
      <input class="form-control" type="text" placeholder="Title" ng-model="post.title" required><br>
      <textarea class="form-control" rows="10" placeholder ="Body" ng-model="post.body" required></textarea><br>
      <div class="text-right">
        <input class="btn btn-success pull-right" type="submit" value="Create Post">
        <a class="btn btn-default pull-left" href="#/posts">Go Back!</a>
      </div>
    </form>
    <br>
    <br>
    <br>
    <div class="fade" ng-show="post.title && post.body">
      <div class="post-preview">
        <h3>Post Preview</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{post.title}}</h3>
          </div>
          <div class="panel-body">
            <p class="post-content">{{post.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>