<div class="container" ng-controller="PostsCtrl">

  <div class="fade text-center" ng-show="showAlert">
    <div class="alert alert-info" role="alert">
      <p>Post successfully removed</p>
    </div>
  </div>

  <div class="container">
    <h1 class="pull-left">Posts Page</h1><br>
    <a class="btn btn-success pull-right" href="#/posts/new">New Post</a>
    <a class="btn pull-right" ng-show="posts.length > 0" ng-class="{'btn-default': editable == false, 'btn-info': editable == true}" ng-click="toggleEditable()">{{editingText}}</a>
  </div>
  
  <br>
  <div class="container">

    <!-- Show if there are some posts -->
    <div ng-show="posts.length > 0">
      <div ng-repeat="post in posts">
        <div class="panel panel-default" alert-dismissible role="alert">
          <div class="panel-heading">
            <button type="button" ng-show="editable" class="close" ng-click="removePost($index)"><span aria-hidden="true">[&times;]</span></button>
            <h1 class="panel-title">{{post.title}}</h1>
          </div>
          <div class="panel-body">
            <p class="post-content">{{post.body}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Show if there are not posts at all -->
    <div ng-hide="posts.length > 0">
      <div class="jumbotron">
        <h2>There is nothing to show right now. Go create some posts and come back!</h2>
      </div>
    </div>
  </div>
</div>
